<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Agosto Learning</title>
     <!-- Bootstrap core CSS -->
     <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet">

     <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
     

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" >

    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">

     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

  <link href="{{url_for('static', filename='css/highestcss.css')}}" rel="stylesheet">

          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- LOAD JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- LOAD ANGULAR -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

  <!-- PROCESS FORM WITH AJAX (NEW) -->
  <script>
  'use strict';

  // define angular module/app
  var formApp = angular.module('formApp', []);

  // create angular controller and pass in $scope and $http
  function formController($scope, $http) {

    // create a blank object to hold our form information
    // $scope will allow this to pass between controller and view
    $scope.formData = {};

    // process the form
$scope.processForm = function() {
  $http({
  method  : 'POST',
  url     : '/addajax',
  data    : $.param($scope.formData),  // pass in data as strings
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
 })
  .success(function(data) {

    if (!data == "success") {
      // if not successful, bind errors to error variables
      alert("Failed! Perhaps you are inputting a !, which is not allowed. ")
    } else {
      // if successful, bind success message to message
      alert("Done!")
    }
  });
};

};


  </script>
</head>

<!-- apply the module and controller to our body so angular is applied to that -->
<body ng-app="formApp" ng-controller="formController">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{url_for('main')}}" class="brand-logo">GuestBook</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('update')}}">Update</a></li>
      </ul>

     
      <a href="{{url_for('update')}}" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-pencil"></i></a>
    </div>
  </nav>

    
      {% block content %}{% endblock %}

   
    

    <!-- scripts -->

  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    
    

    {% block js %}{% endblock %}

  </body>
</html>
