{% extends "base.html" %}

{% block content %}
{% autoescape true %}
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">GuestBook</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container centered">
      <br><br>
      <h1 class="header center black-text">GuestBook</h1>
      <h5 style="color: black;">Sign the guestbook</h5>
      
      <form method="POST" action="/" type="text">
    {% for field in form %}
    <div class="container centered">
      {{field}}
      <br>
      <br>
      </div>

  {% endfor %}
   <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="mdi-content-send right"></i>
  </button>
    </form>

  <br>
  <br>
  </div>
  </div>
  </div>
  </div>
  </div>
 <div class="container centered">
 <h3>These are posts from users who visited the site:</h3>
 <br>
    {% for greeting in greetings %}

      {% if greeting.author %}
        <b>{{ greeting.author.email }}
          {% if user and user.user_id() == greeting.author.identity %}
            (You)
          {% endif %}
        </b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}
    

</div>

    </div>
  </div>


  <div class="container">
    <div class="section">

     

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="blog-footer">
      <p>Built with DataStore, AppEngine and Angular</p>

    </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>


{% endautoescape %}
{% endblock %}