{% extends "base.html" %}

{% block content %}
{% autoescape true %}
<div class="container">
  <h1>Hi! These are all the posts from different users.</h1>
  <br>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.email }}
          {% if user and user.user_id() == greeting.author.identity %}
            (You)
          {% endif %}
        </b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}
    

</div>
{% endautoescape %}
{% endblock %}